#nav-bar-user{
    display:flex;
    align-items:baseline;
    gap: 50%;
    padding: 13px 0px 20px 80px;
    background-color: rgb(213, 234, 252);
}
.nav-links a{
    padding: 20px;
    text-decoration: none;
    color: rgb(5, 58, 164);
}
.nav-links a:hover{
    color: white;
    background-color: rgba(54, 163, 253, 0.61);
}